body{
    font-family: Arial, sans-serif;
    margin: 20px;
}
form{
    margin-bottom: 20px;
}
label{
    display: block;
    margin: 5px, 0;
}
input{
    padding: 5px;
    margin: 5px, 0;
}
button{
    padding 10px 15px;
    margin-top: 10px;
}
table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td{
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}